<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.webservice"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="10" />
：
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:label="Test tv APP"
        android:targetPackage="com.example.webservice" >
    </instrumentation>

    <application
        android:name="com.example.webservice.MyApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <uses-library android:name="android.test.runner" />

        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>